node_modules/
android/
ios/
build/
dist/
.expo/
.expo-shared/
.vscode/
*.log
.env
.env.*
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
metro-cache/
expo-debug.log*
*.keystore
*.jks
android/app/debug.keystore